<%- include('./partials/header.ejs') %>
<div class="container-fluid " style="background-color: #042743;">
    <div class="row">
        <div class="col-sm-2">

            <%- include('./partials/sidebar.ejs',{page_name : 'About'}) %>

        </div>

        <div class="col-sm-10">
            <!-- main content -->

            <div class="container mt-5 ">
                <h1 class="text-primary mb-5 border-bottom"> Skills </h1>

                <div class="row text-center text-white  ">
                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>

                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;  color: rgb(89, 129, 129);"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>

                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>


                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>


                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>


                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>

                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>


                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>


                    <div class="col-sm-4">
                        <i class="bi bi-laptop " style="font-size: 48px;"></i>
                        <h3>Changing Future</h3>
                        <p class="ss-color">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, sapiente laudantium
                            praesentium odit cum vel reiciendis asperiores! Doloremque, culpa fuga.

                        </p>

                    </div>

                    <!-- khtm yaha -->

                </div>

               
                </div>
   

              












        </div>


    </div>
</div>
<%- include('./partials/footer.ejs') %>