
<%- include('./partials/header.ejs') %>
<div class="container-fluid "style="background-color: #042743;">
    <div class="row">
        <div class="col-sm-2">

            <%- include('./partials/sidebar.ejs',{page_name : 'Contact'}) %>    

        </div>

        <div class="col-sm-10">

            <div class="container mt-5 ">
                <h1 class="text-primary mb-5 border-bottom"> Contact Me</h1>
 
                <div class="row">

            <!-- <div class="text-center  mt-5">
                <a href="/contact"  target="_blank"  class="btn btn-outline-warning col-sm-12 my-3 " >Twitter</a>
                <a href="/contact"  target="_blank"  class="btn btn-outline-warning col-sm-12   my-3 " >Linkedin</a>
                <a href="/contact" target="_blank" class="btn btn-outline-warning  col-sm-12   my-3 " >Github</a>
            </div> -->

            <div class="text-center  col-sm-12 my-3 mt-5">
                <a href="/contact"  target="_blank"  class="btn btn-outline-warning col-sm-8 " >Twitter</a>
         
            </div>
            <div class="text-center  col-sm-12 my-3 mt-2">
               
                <a href="/contact"  target="_blank"  class="btn btn-outline-warning col-sm-8 " >Linkedin</a>
           
            </div>
            <div class="text-center  col-sm-12 my-3  mt-2">
          
                <a href="/contact" target="_blank" class="btn btn-outline-warning col-sm-8   " >Github</a>
            </div>

        </div>
        </div>

     </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>