<%- include('./partials/header.ejs') %>
<div class="container mt-5" >
    <h1 class="text-white">About Page</h1>
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quisquam, molestias incidunt placeat esse recusandae sapiente maiores, perferendis ducimus vitae nisi eum ipsa a quae, expedita explicabo quam. Sunt, ullam. Facere, ad eaque unde, atque voluptatum libero assumenda animi ea, inventore illum harum dicta adipisci quis iusto esse. Similique, dicta.

    </p>
</div>
<%- include('./partials/footer.ejs') %>